*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding: 1em;
    text-align: center;
}

header nav{
    background-color: #6F7C12;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

#bars{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
    color: #333;
    z-index: 100;

    display: flex;
    align-items: center
}


nav ul{
    list-style: none;
    display: none;
    align-items: center;
    list-style-type: none;
}


nav ul li{
    padding: 1em;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

.logo{
    height: 4em;
    width: auto;
}


.hero{
    position: relative;
    width: 100vw;
    height: 500px;
    overflow: hidden;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-tekst{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
 
.hero-tekst h1{
    font-size: 3.5em;
    margin: 0;
}

.søgebar{
    display: flex;
    flex-direction: row;
    max-width: 95%;
    margin: 15px auto 0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: white;
}

.søgebar input{
    padding: 14px 17px;
    font-size: 1rem;
    border: none;
    background: transparent;
}

.søgebar input::placeholder{
    color: #999;
}

.søgebar button{
    padding: 0px 20px;
    background: #5e955f;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
}

.søgebar button i{
    font-size: 1.1rem;
}

.søgebar button{
    content: '';
    font-size: 1.1rem;
    border-radius: 0 12px 12px 0;
}
/******************************DESKTOP RESPONSIV***************************************/
@media (min-width: 769px){

    #bars{
        display: none;
    }

    nav ul {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
    }

    .hero{
        height:80vh
    }

    .søgebar {
        max-width: 70vw;
        width: 100%;
        margin: 20px auto 0;
    }

    .søgebar input{
        flex: 1;
    }

    .søgebar button{
        padding: 0 28px;
        flex-shrink: 0;
    }


}